<footer class="footer" id="footer">
  <div class="footer-content">
    <div class="footer-main">
      <div class="footer-info">
        <div class="logo">
          <span>english</span>
          <span class="logo-accent">excellence</span>
          <span>.</span>
        </div>
        <div class="contact-block">
          <div class="contact-item">
            <div class="contact-label">Phone number:</div>
            <div class="contact-value">
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </div>
          </div>
          <div class="contact-item">
            <div class="contact-label">Address:</div>
            <div class="contact-value">
              <a href="https://www.google.com/maps/search/?api=1&query=32a+M.+Bazhana+Ave" target="_blank" rel="noopener noreferrer">
                32a M. Bazhana ave
              </a>
            </div>
          </div>
        </div>
      </div>
  <ul class="navigation">
      <li class="nav-item"><a href="#about" >About us</a></li>
      <li class="nav-item"><a href="#lessons">Our lessons</a></li>
      <li class="nav-item"><a href="#teachers">Teachers</a></li>
      <li class="nav-item"><a href="#reviews"> Reviews</a></li>
      <li class="nav-item"><a href="#contact">Contact us</a></li>
  </ul>
  <ul class="socials">
      <li><a href="https://www.facebook.com/profile.php?id=100064023163538" class="social-link">
          <img src="img/facebook.svg" alt="Social media icon" class="social-icon" />
      </a></li>
      <li><a href="https://www.instagram.com/goit.usa/" class="social-link">
        <img src="img/instagram.svg" alt="Social media icon" class="social-icon" />
      </a></li>
      <li><a href="https://www.youtube.com/@goitpolska483" class="social-link">
        <img src="img/youtube.svg" alt="Social media icon" class="social-icon" />
      </a></li>
  </ul>
  </div>
  <img src="" alt="" class="footer-divider" />
  <div class="footer-bottom">
    <div>©2023 English Excellence. All rights reserved.</div>
    <div class="legal-links">
      <a href="#privacy">Privacy Policy</a>
      <a href="#terms">Terms of Service</a>
    </div>
  </div>
</div>
</footer>
